{# ACCOUNT PASS RESET #}
{% extends "_layout" %}

{# SET HEADER VARIABLES #}
{% set title                    = "Reset your password" %}
{% set class                    = "account" %}

{# SET SEO VALUES #}
{% do seomatic.meta.seoTitle( "Reset your account password" ) %}

{% block content %}
  
  <header class="page-header text-center">
    <h1 class="page-title">Forgot your password?</h1>
  </header>
  
  <div class="grid-x grid-margin-x align-center">
    <div class="main medium-8 large-6 cell">
  
      <form id="passwordForm" method="post" accept-charset="UTF-8" data-abide novalidate>

        {{ csrfInput() }}
        {{ redirectInput('/account/password-reset') }}
        <input type="hidden" name="action" value="users/send-password-reset-email">

        <p>To reset your password, enter your email address associated with your TeenTix account and reset instructions will be emailed to you.</p>
        <div>
          <label for="loginName">Email</label>
          <input id="loginName" type="email" name="loginName"
            value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}" placeholder="Your email address" required>
          <span class="form-error" id="emailError">Please enter a valid email address.</span>
        </div>
  
        {% if errors is defined %}
          <ul class="errors">
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
  
        <input class="button success large expanded" type="submit" value="SUBMIT">

      </form>
  
      <p class="text-center"><a href="{{ url('account/login') }}">Login to your account</a></p>
  
    </div>
  </div>

{% endblock %}