{# ACCOUNT PROFILE PAGE #}
{% requireLogin %}
{% extends "_layout" %}

{# SET HEADER VARIABLES #}
{% set title                    = "Account" %}
{% set class                    = "account" %}

{# SET SEO VALUES #}
{% do seomatic.meta.seoTitle( "Your TeenTix profile" ) %}

{# SET CORE PROFILE VARIABLES #}
{% set you                      = "you" %}
{% set your                     = "your" %}
{% set are, do                  = "are", "do" %}
{% set applicant                = "teen" %}

{# SET USER REFERENCE #}
{% set user                     = entry ?? currentUser %}

{% block content %}

  {% include 'account/_partials/account-header' %}
  
  <div class="grid-x grid-margin-x">
  
    {% include 'account/_partials/nav-sidebar' %}
  
    <div class="main large-7 medium-order-1 cell">
  
      <h2>Edit Profile</h2>
  
      {% macro errorList(errors) %}
        {% if errors %}
          {% for error in errors %}
              <div class="error icon-cancel-circled">{{ error }}</div>
          {% endfor %}
        {% endif %}
      {% endmacro %}
  
      {% from _self import errorList %}
  
      <form id="form-account-update" method="post" accept-charset="UTF-8" data-abide novalidate>

        {{ csrfInput() }}
        {{ redirectInput('account/profile') }}
        <input type="hidden" name="action" value="users/save-user">
        <input type="hidden" name="userId" value="{{ user.id }}">
  
        {% macro errorList(errors) %}
          {% if errors %}
            <ul class="errors">
              {% for error in errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endmacro %}
  
        {% from _self import errorList %}
  
        {% include 'account/_partials/profile-core' %}
  
        <input type="submit" class="button success large" value="Save Profile">
  
        <div data-abide-error class="alert callout" style="display: none;">
          <p class="text-center">There are some errors in your form, please fix them before submitting.</p>
        </div>
  
      </form>
  
    </div>
  
  </div>

{% endblock %}